.vscode
# Prerequisites
*.d
# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Executaveis sem extensao
aula03/teste
aula01/apagar.txt
aula01/hell
aula02/troca
aula03/aloc
aula03/exec
aula03/exec8
aula03/exec8_5
aula03/mm
aula03/joguinho/race
aula03/joguinho/safe.txt
praticasED/argumentos/loop
praticasED/bubblesort/newb
praticasED/jogo/craps
praticasED/recursao/any
praticasED/recursao/hanoi
praticasED/recursao/pot
testandoCPP/dadola
testandoCPP/matriz
testandoCPP/str
testandoCPP/switch
testandoCPP/type
testandoCPP/varG
testandoCPP/exercSlides/strcpy
testandoCPP/exercSlides/troca
matriz
vv
ListadeExercicios/quest4
aula04/matriz
